// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-top: 80px;
}

// navbar styling
.navbar {
  background: orange;
}

.navbar-header a.navbar-brand {
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 50px;
  font-size: 150%;
  font-weight: bold;
}

.navbar-header a.navbar-brand:hover {
  color: #ff0000;
}

.nav > li > a {
  padding-top: 25px;
  padding-bottom: 30px;
}

.navbar-default .navbar-nav > .active > a {
  background: orange;
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a:hover {
  background: orange;
  color: #ff0000;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 130%;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ff0000;
}

.signed-in-user {
  padding-top: 10px;
  padding-right: 20px;
}

.signed-in-user .navbar-text {
  color: #ffffff;
}

.navbar-form {
  margin-top: 20px;
}

// Link styling
.link {
  margin-bottom: 5px;
}

#back-btn {
  margin-left: -10px;
  margin-top: 30px;
}

.destroy-btn:hover {
  color: #ff0000;
  font-weight: bold;
  font-size: 120%;
}
